<!-- Header -->
<nav class="navbar bg-light navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to "Blog", root_path, class:"navbar-brand h1" %>

        <!-- Links -->
        <div class="navbar collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <%= link_to "Posts", posts_path, class:"nav-link" %>
                </li>
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to "Create new post", new_post_path, class:"nav-link" %>
                    </li>
                <% end %>
            </ul>

            <!-- Links related to user session -->
            <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to "Edit profile", edit_user_registration_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link" %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Log in", new_user_session_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign up", new_user_registration_path, class:"nav-link" %>
                    </li>
                <% end %>
                
            </ul>

        </div>
  </div>

  

</nav>
