<div id="<%= dom_id post %>">
  <h4>
    <%= post.title %>
  </h4>

  <p>
    <%= post.content %>
  </p>

  <p>
    <small>Posted <%= time_ago_in_words(post.created_at) %> ago, <%= pluralize post.comments.count, "comment" %></small>
  </p>

</div>
